# Set Up

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [ ]:
df = pd.read_csv('FoodPrice_in_Turkey.csv')

In [ ]:
df.head()

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
0,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
2,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
3,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
4,National Average,52,Rice - Retail,5,KG,1,2014,5.5099

In [ ]:
# Với mức ý nghĩa 5% hay kiểm định giả thuyết:
# giá bán lẻ gạo trung bình năm 2019 là 9.5 (Lira)/1 kg
# Turkish Lira là đơn vị tiền tệ ở Turkey (1 usd ~ 8-9 Lira)

In [ ]:
# Đưa ra giả thuyết
# H0: mean = 9.5
# H1: mean khác 9.5

In [ ]:
# Lọc dữ liệu: giá gạo năm 2019
price_rice_2019 = df[(df['Year'] == 2019) & (df['ProductName'] == 'Rice - Retail')].Price
price_rice_2019

54       8.4275
55       8.7656
56       8.8101
57       8.9266
58       9.1866
59       9.2781
60       9.4634
61       9.4681
62       9.5000
63       9.4346
64       9.4267
65       9.5616
2657     8.0617
2658     8.4047
2659     8.4525
2660     8.4833
2661     8.5930
2662     8.6665
2663     8.8262
2664     8.5789
2665     8.6018
2666     8.5373
2667     8.6074
2668     8.9477
4239     8.8745
4240     9.2860
4241     9.3131
4242     9.3970
4243     9.7617
4244     9.8176
4245    10.1121
4246    10.1093
4247    10.1809
4248    10.1348
4249    10.1288
4250    10.2924
5822     9.1330
5823     9.4793
5824     9.5203
5825     9.7229
5826    10.0941
5827    10.2523
5828    10.3485
5829    10.3386
5830    10.4043
5831    10.1955
5832    10.2719
5833    10.2803
Name: Price, dtype: float64

In [ ]:
stats.ttest_1samp(price_rice_2019, 9.5)

TtestResult(statistic=-1.1854023812590566, pvalue=0.24181730968913567, df=47)

In [ ]:
# p = 0.24 > 0.05
# => không có bằng chứng để bác bỏ giả thuyết H0 (giả thuyết Không - Null Hypothesis)
# => không đủ bằng chứng để bác bỏ giả thuyết rằng giá gạo trung bình năm 2019 = 9.5

In [ ]:
# Với mức ý nghĩa 5% hãy kiểm định giả thuyết:
# Giá bột mỳ và giá gạo ở Turkey năm 2019 là bằng nhau

# H0: giá trung bình bột mỳ - giá trung bình gạo = 0
# H1: giá trung bình bột mỳ - giá trung bình gạo khác 0

In [ ]:
# giá bột mỳ năm 2019
price_flour_2019 = df[(df['Year'] == 2019) & (df['ProductName'] == 'Wheat flour - Retail')].Price

# giá gạo năm 2019
price_rice_2019 = df[(df['Year'] == 2019) & (df['ProductName'] == 'Rice - Retail')].Price

In [ ]:
stats.ttest_ind(price_flour_2019, price_rice_2019)

TtestResult(statistic=-53.751692036304206, pvalue=2.226692642717799e-72, df=94.0)

In [ ]:
2.226692642717799 * (10**-72) < 0.05

True

In [ ]:
# bác bỏ giả thuyết Không (bác bỏ Null Hypothesis)
# giá bột mỳ năm 2019 khác với giá gạo năm 2019